<html>
    <head>
        <title>
            Country and Zip
        </title>
        <%- include("static/styles.ejs"); %>
    </head>
    <body>
        
        <h1>
            Select a country and enter a zip code
        </h1>
        <form action="/zip" method="POST">
            <label for="countries">Choose a country:</label>
                <select name="country" id="country" placeholder="Please select a Country" required>
                <option value="ES">Spain</option>
                <option value="IT">Italy</option>
                <option value="FR">France</option>
                <option value="JP">Japan</option>
                <option value="GU">Guam</option>
                <option value="GB">Great Britain</option>
                <option value="IS">Iceland</option>
                <option value="US">United States</option>
                <option value="ZA">South Africa</option>
                <option value="PR">Puerto Rico</option>
                </select>
                <br><br>
            <input type = "number" name="zipcode" id= "zip" placeholder="Please enter a zipcode" required>
            <button type = 'submit'>
                Submit
            </button>
        </form>
        <h3>
            Your Information:
        </h3>
    </body>
    
</html>


